<!DOCTYPE HTML>
<html>
  <head>
    <style>
      body {
        margin: 0px;
        padding: 0px;
      }
    </style>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jsPDF.source.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <link rel=stylesheet href="css/styles.css" type="text/css" media=screen>
  </head>
  <body id="wrapper">
    <h1>Create Canvas</h1>
    <canvas id="myCanvas" width="578" height="200"></canvas>
    <button id="start">
     <h2>Generate PDF</h2>
    </button>
  </body>
</html>
